#include <windows.h>

#pragma code_page(65001)

#ifdef _DEBUG
#define VER_FILEFLAGS   VS_FF_DEBUG
#else
#define VER_FILEFLAGS   0x0L
#endif

#ifdef _WIN64
#define VER_ORIGINALFILENAME_STR    "gamex86_64.dll"
#else
#define VER_ORIGINALFILENAME_STR    "gamex86.dll"
#endif

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
    FILEVERSION     0,0,0,OPENTDM_REVISION
    PRODUCTVERSION  0,0,0,OPENTDM_REVISION
    FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
    FILEFLAGS       VER_FILEFLAGS
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_DLL
    FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Comments", "http://opentdm.net/"
            VALUE "CompanyName", "r1ch.net"
            VALUE "FileDescription", "Team deathmatch and 1v1 tournament mod"
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "FileVersion", OPENTDM_VERSION
            VALUE "InternalName", "opentdm"
            VALUE "LegalCopyright", "Copyright © r1ch.net and contributors"
            VALUE "ProductName", "OpenTDM"
            VALUE "ProductVersion", OPENTDM_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 0x4B0
    END
END

